In [1]:
import cv2
import matplotlib.pyplot as plt
import os
import imutils 
import skimage
import skimage.transform
import pandas as pd
import numpy as np

In [2]:
IMAGE_PATH = "/home/ryan/Machine_Learning/AI4VN/Images"
ROOT_PATH = "/home/ryan/Machine_Learning/AI4VN"
SAVE_PATH = "/home/ryan/Machine_Learning/AI4VN/train"
IMG_SIZE = 800
NUM_CLASSES = 8

In [3]:
df = pd.read_csv(os.path.join(ROOT_PATH, "train.csv"))

In [4]:
new_label = []
for i in range(len(df)):
    label = df['label'][i]
    if label == 0:
        new_label.append(np.nan)
    else: 
        new_label.append(int(label))

In [5]:
df['label'] = df['label'].astype('int')

In [6]:
df_one_hot = pd.get_dummies(new_label, prefix = "class")
df_one_hot[-10:]

,class_1.0,class_2.0,class_3.0,class_4.0,class_5.0,class_6.0,class_7.0
32080,0,0,0,0,0,0,1
32081,0,0,0,0,0,0,1
32082,0,0,0,0,0,0,1
32083,0,0,0,0,0,0,1
32084,0,0,0,0,0,0,1
32085,0,0,0,0,0,0,1
32086,0,0,0,0,0,0,1
32087,0,0,0,0,0,0,1
32088,0,0,0,0,0,0,1
32089,0,0,0,0,0,0,1

In [7]:
df = pd.concat([df, df_one_hot], axis=1)

In [8]:
df.to_csv("train_one_hot.csv", index = False)